<a href="https://colab.research.google.com/github/Triveni18/JavaScript/blob/main/PandasFiltering01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np

import pandas as pd

df = pd.read_csv('/content/iris.csv')


df1 = pd.read_excel('/content/EMP.xlsx')

expensive_items = df1[df1['SALARY'] > 55000]


print(expensive_items)

   EMPID          EMPNAME  SALARY        DOJ
1   E002      Rohan Mehta   62000 2020-07-01
3   E004      Arjun Verma   70000 2021-02-10
5   E006       Vikram Rao   75000 2022-06-18
7   E008      Suresh Nair   68000 2019-08-25
9   E010     Dev Malhotra   80000 2023-03-22
10  E011  Sanjay Kulkarni   57000 2018-05-14
12  E013  Amit Chatterjee   72000 2021-11-02
14  E015     Rajeev Gupta   64000 2020-09-15
16  E017    Manish Tiwari   69000 2018-12-05
17  E018      Alok Mishra   56000 2017-07-18
19  E020     Harish Patel   71000 2021-01-12
21  E022      Karan Bhatt   75000 2022-08-19
23  E024      Mohit Sinha   68000 2018-09-23
25  E026     Ajay Prakash   80000 2023-04-16
27  E028     Rohit Khanna   72000 2020-12-03
29  E030     Deepak Yadav   77000 2022-03-20