<a href="https://colab.research.google.com/github/Triveni18/JavaScript/blob/main/PandasMerge01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:

import pandas as pd

df1 = pd.read_excel('/content/EMP.xlsx' , sheet_name="Sheet1")
df2 = pd.read_excel('/content/EMP.xlsx' , sheet_name="Sheet2")

res =pd.merge(df1 , df2 , on="EMPID", how="inner")

print(res)

   EMPID          EMPNAME  SALARY        DOJ                       ADDRESS  \
0   E001     Ananya Singh   55000 2019-04-15         12 MG Road, Bengaluru
1   E002      Rohan Mehta   62000 2020-07-01        45 Nehru Nagar, Mumbai
2   E003     Priya Sharma   48000 2018-11-20       78 Civil Lines, Lucknow
3   E004      Arjun Verma   70000 2021-02-10     23 Connaught Place, Delhi
4   E005      Neha Kapoor   53000 2017-09-05       56 Park Street, Kolkata
5   E006       Vikram Rao   75000 2022-06-18   89 Jubilee Hills, Hyderabad
6   E007      Kavita Iyer   46000 2016-12-12        34 Anna Salai, Chennai
7   E008      Suresh Nair   68000 2019-08-25           67 Sector 18, Noida
8   E009      Meera Joshi   51000 2020-01-30            90 Camp Area, Pune
9   E010     Dev Malhotra   80000 2023-03-22  11 Residency Road, Bengaluru
10  E011  Sanjay Kulkarni   57000 2018-05-14        22 Bandra West, Mumbai
11  E012   Pooja Deshmukh   49000 2017-03-09       44 Gomti Nagar, Lucknow
12  E013  Amit Chatterjee   72000 2021-11-02         77 Salt Lake, Kolkata
13  E014    Shruti Bansal   53000 2019-06-27           19 Hauz Khas, Delhi
14  E015     Rajeev Gupta   64000 2020-09-15   31 Banjara Hills, Hyderabad
15  E016      Sneha Reddy   46000 2016-10-21           53 T Nagar, Chennai
16  E017    Manish Tiwari   69000 2018-12-05        85 Koregaon Park, Pune
17  E018      Alok Mishra   56000 2017-07-18     27 Indiranagar, Bengaluru
18  E019   Shalini Saxena   48000 2016-04-30           62 Aliganj, Lucknow
19  E020     Harish Patel   71000 2021-01-12          14 Karol Bagh, Delhi
20  E021      Divya Nanda   52000 2019-02-08        36 Ballygunge, Kolkata
21  E022      Karan Bhatt   75000 2022-08-19   58 Jubilee Hills, Hyderabad
22  E023     Ritu Agarwal   47000 2016-11-11             70 Adyar, Chennai
23  E024      Mohit Sinha   68000 2018-09-23         25 Vashi, Navi Mumbai
24  E025    Tanya Dâ€™Souza   54000 2017-05-07           47 Sector 62, Noida
25  E026     Ajay Prakash   80000 2023-04-16     81 Connaught Place, Delhi
26  E027    Nidhi Chauhan   49000 2016-02-25       29 Park Street, Kolkata
27  E028     Rohit Khanna   72000 2020-12-03     63 Indiranagar, Bengaluru
28  E029    Pallavi Menon   51000 2019-10-29        15 Bandra East, Mumbai
29  E030     Deepak Yadav   77000 2022-03-20        40 Anna Nagar, Chennai

         DEPARTMENT
0   Human Resources
1           Finance
2         Marketing
3                IT
4        Operations
5             Sales
6    Administration
7           Finance
8          Training
9                IT
10        Marketing
11               HR
12          Finance
13            Sales
14       Operations
15               IT
16        Marketing
17          Finance
18               HR
19            Sales
20       Operations
21               IT
22        Marketing
23          Finance
24               HR
25               IT
26            Sales
27       Operations
28        Marketing
29          Finance